*~
*.pyc
*.coverage
*.profile
*.timings
.directory
.eric4project
.ropeproject
archiv
build
doc
debug/*.mds
debug/*.mdd
debug/*.raw
debug/*.py
debug/*.o
debug/*.out
debug/*.ref
debug/*.sim
debug/*.res
debug/*.png
debug/*.sh
config/fit/fit-script.sh
config/fit/fit_tmp.f90
config/fonts
config/squid_calibration
config/treff_calibration_old.dat
edit_project.sh
scripts/*.bat
