recursive-include doc *.html
recursive-include plot_script/gtkgui/icons *.png
include plot_script/config/fit/fit.f90
include plot_script/config/logo*.*
recursive-include plot_script/config/fit/pnr_multi *.f90
recursive-include plot_script/config *.dat squid_calibration
include scripts/*
