recursive-include plotpy/doc *
recursive-include plotpy/gtkgui/icons *.png
include plotpy/config/fit/fit.f90
include plotpy/config/logo*.*
recursive-include plotpy/config/fit/pnr_multi *.f90
recursive-include plotpy/config *.dat squid_calibration
include scripts/*