recursive-include doc *.html
include config/fit/fit.f90
recursive-include config/fit/pnr_multi *.f90
recursive-include config/fonts *.ttf
recursive-include config *.dat squid_calibration
include install
include prd
include psd
include p4d
include plot_reflectometer_data
include plot_4circle_data
include plot_SQUID_data
include dnsplot
include treffplot
include pin12
include uninstall

include dnsplot_help.pdf
