[Desktop Entry]
Version=1.0
Name=Plot.py (D7 Session)
Name[de]=Plot.py (D7 Sitzung)
Comment=Plotting and manipulating D7 polarized neutron diffraction data
Comment[de]=Plottet und verarbeitet Messdaten des D7 polarisierten Neutronen-Diffraktometers
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.7/dist-packages/plot_script/config/logo.png
Type=Application
Exec=/usr/local/bin/plot.py dns -d7 -b -v -fr 0. -startuppath %d
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true