[Desktop Entry]
Version=1.0
Name=Plotpy (XRR)
Comment=x-ray reflectometry session
Comment[de]=Röntgenreflektometrie session
GenericName=Plotpy
Terminal=false
Icon=/usr/local/lib/python2.7/dist-packages/plotpy/gtkgui/icons/logogreen.png
Type=Application
Exec=/usr/local/bin/plotpy xrr -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/plotpy_xrr;