[Desktop Entry]
Version=1.0
Name=Plot.py (SAS)
Name[de]=Plot.py (SAS)
Comment=Plotting and manipulating small angle scattering data
Comment[de]=Plottet und verarbeitet Messdaten verschiedener kleinwinkel Experimente
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.7/dist-packages/plot_script/config/logoblue.png
Type=Application
Exec=/usr/local/bin/plot.py sas -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
