[Desktop Entry]
Version=1.0
Name=Plot.py (SHG Session)
Name[de]=Plot.py (SHG Sitzung)
Comment=Plotting and manipulating SHG files
Comment[de]=Plottet und verarbeitet Messdaten von SHG parameter files
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.7/dist-packages/plot_script/config/logopurple.png
Type=Application
Exec=/usr/local/bin/plot.py shg -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/shg_par;