[Desktop Entry]
Version=1.0
Name=Plot.py (TREFF/MARIA-reflectometry Session)
Name[de]=Plot.py (TREFF/MARIA-Reflektometrie Sitzung)
Comment=Plotting and manipulating QuantumDesign SQUID and PPMS data
Comment[de]=Plottet und verarbeitet Messdaten des QuantumDesign SQUID und PPMS
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.7/dist-packages/plot_script/config/logoyellow.png
Type=Application
Exec=/usr/local/bin/plot.py treff -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/treff;