[Desktop Entry]
Version=1.0
Name=Plot.py (4-Circle Session)
Name[de]=Plot.py (4-Kreiser Sitzung)
Comment=Plotting and manipulating 4circle data
Comment[de]=Plottet und verarbeitet Messdaten des 4-Kreis Diffraktometers
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.6/dist-packages/plot_script/config/logo.png
Type=Application
Exec=/usr/local/bin/plot.py 4circle -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/4circle;