[Desktop Entry]
Version=1.0
Name=Plot.py (KWS2/Riso/Soleil(sum))
Name[de]=Plot.py (KWS2/Riso/Soleil(summe))
Comment=Plotting and manipulating grazing incidence data
Comment[de]=Plottet und verarbeitet Messdaten verschiedener kleinwinkel Experimente
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.6/dist-packages/plot_script/config/logoblue.png
Type=Application
Exec=/usr/local/bin/plot.py gisas -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/gisas;