[Desktop Entry]
Version=1.0
Name=Plot.py (MBE)
Name[de]=Plot.py (MBE)
Comment=Plotting and manipulating MBE LEED/RHEED/AES and logfile data
Comment[de]=Plottet und verarbeitet Messdaten von LEED/RHEED/AES und MBE logfiles
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.6/dist-packages/plot_script/config/logoblue.png
Type=Application
Exec=/usr/local/bin/plot.py mbe -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/mbe;text/aes;image/mbe_png;