[Desktop Entry]
Version=1.0
Name=Plot.py (SQUID/PPMS Session)
Name[de]=Plot.py (SQUID/PPMS Sitzung)
Comment=Plotting and manipulating QuantumDesign SQUID and PPMS data
Comment[de]=Plottet und verarbeitet Messdaten des QuantumDesign SQUID und PPMS
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.6/dist-packages/plot_script/config/logopurple.png
Type=Application
Exec=/usr/local/bin/plot.py squid -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/squid;