[Desktop Entry]
Encoding=UTF-8
Name=Plot.py (KWS2 Session)
Version=0.6.3
Comment=Plotting and manipulating KWS2 data
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.6/dist-packages/config/logo.png
Type=Application
Exec=/usr/local/bin/plot.py kws2
Categories=GTK;GNOME;Utility;Science;
X-KDE-StartupNotify=true
