[Desktop Entry]
Encoding=UTF-8
Name=Plot.py (Reflectometer Session)
Name[de]=Plot.py (Reflectometer Sitzung)
Version=0.6.3
Comment=Plotting and manipulating of reflectometer data
Comment[de]=Plottet und verarbeitet Messdaten des Reflektometers
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.6/dist-packages/config/logo.png
Type=Application
Exec=/usr/local/bin/plot.py refl
Categories=GTK;GNOME;Utility;Science;
X-KDE-StartupNotify=true
