[Desktop Entry]
Version=1.0
Name=Plot.py (x-ray reflectometer Session)
Name[de]=Plot.py (Röntgenreflektometer Sitzung)
Comment=Plotting and manipulating D-8 reflectometer data (.UXD)
Comment[de]=Plottet und verarbeitet Messdaten des D-8 Reflektometers
GenericName=Plot.py
Terminal=false
Icon=/usr/local/lib/python2.6/dist-packages/plot_script/config/logogreen.png
Type=Application
Exec=/usr/local/bin/plot.py refl -startuppath %d %f
Categories=GTK;GNOME;Science;
X-KDE-StartupNotify=true
MimeType=text/refl;